#Ryba {   /**/
    display:flex; flex-direction: row;    
    text-align: center;
}

#Hry {  /*Pozadí*/
    background-color: grey; 
}

#stred {
    text-align: center;
}

#flex {   /*Flex*/
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

img {   /*Obrázek/y*/
    width: 60%;
    height: 80%;
}

p {
    text-align: center;
    color: rgb(7, 5, 3)
}

h1 {
    color: rgb(7, 5, 2)
}

body {   /*Tělo*/
    margin: 0%;
    background-color: lightgrey;
}

